<center>

<h1>Log In</h1>
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
 <h2> <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div></h2></br>
  <h2><div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div></h2>
  <div class="actions"><%= submit_tag "Log In" %></div>
  </center>
<% end %>