<center>
<div class="login">
<h1>Log In</h1>
</div>
<p id="alert"><%= alert %></p>
<%= form_tag sessions_path, class: 'col-sm-3' do %>
 <div class="form-group">
    <%= text_field_tag :email, params[:email], placeholder: 'email', class: 'form-control' %>
  </div></br>
  <div class="form-group">
    <%= password_field_tag :password, params[:password], placeholder: 'password', class: 'form-control' %>
  </div>
  </br>
  <div class="actions"><%= submit_tag "Log In", class: "btn btn-outline-danger" %></div>
  </center>
<% end %>