<center>
<h1>BlacMarket</h1>



<div class="col-md-6 col-md-offset-3">
    <table class ="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Price</th>
                
             </tr>
        </thead>
        <tbody>   
            <% @items.each do |item| %>
                <tr>
                    
                    <td><%= link_to (image_tag item.image.url) , item_path(item) %></td>
                    <td><%= item.title%></td>
                    <td><%= item.price %></td>
                    <td><%= item.likes%></td>
                    <td><%= form_for(@line_item) do |f|%></td>
                    <td><%= f.hidden_field :item_id, value: item.id %></td>
                    <td><%= f.text_field :quantity, value: 1, min: 1, class: "form-control" %></td>
                    <td><%= f.submit "Add to cart", class: 'btn btn-primary btn-sm'%></td>   
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>
</center>