
    <table>
        <tbody>  
            <% @line_items.each do |product| %>
                    <tr>
                        <td><%= product.item.title  %></td>
                        
                        <tr>
                            <%= form_for product do |f|%>
                                <%= f.hidden_field :item_id, value: product.item.id %>
                                <%= product.item.price %>
                                <%= f.text_field :quantity, value: product.quantity.to_i, min: 1, class: 'col-sm-1 form-control' %>
                                <%= f.submit "Update Quantity", class: 'btn btn-primary' %>
                            <% end %>
                        </tr>
                        <td><%= link_to "Delete", product, method: :delete, remote: true, class: 'btn btn-danger'%></td>
                    </tr>
            <% end %>
            <tr>
                <td colspan="3">Total Price: <%= @line_items.count > 0 ? @line_items.collect {|line_item| line_item.valid? ? (line_item.unit_price*line_item.quantity) : 0 }.sum : 'No Items Ordered' %></td>
            </tr>
        </tbody>
    </table>


