<% if !@line_items.nil? && @order_items.errors.any? %>

    <% @line_items.errors.full_messsags.each do |msg|%>
        <%= msg%>
    <% end %>


<% end %>

<div class="col-md-6 col-md-offset-3">
    <table class ="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
             </tr>
        </thead>
        <tbody>  
         <% @line_item.each do |product|%>
            <% if @line_item.size > 0%>
                <tr>
                    <td><%= product.item.title%></td>
                    <%= form_for(product, remote: true) do |f|%>
                    <td><%= f.hidden_field :item_id, value: product.item.id %></td>
                    <td><%= product.item.price %></td>
                    <td><%= f.text_field :quantity, value: product.quantity.to_i, min: 1, class: 'form-control' %></td>
                    <td><%= f.submit "Update Quantity", class: 'btn btn-primary' %></td>
                    <td><%= link_to "Delete", product, method: :delete, remote: true, class: 'btn btn-danger'%></td>
                    <span>Total Price: <%= product.order.subtotal %></span>
                 </tr>
                    <% end %>
                </tbody>
             </table>
            </div>
        <% end %>
    <% else %>
<% end %>

