
    <table id="cart-table">
        <tbody>  
            <% @line_items.each do |product| %>
            
                    <tr>
                        <td><%= product.item.title  %></td>
                        
                        
                            <%= form_for product do |f|%>
                                <td><%= f.hidden_field :item_id, value: product.item.id %></td>
                                
                                <td><%= f.text_field :quantity, value: product.quantity.to_i, min: 1, class: 'col-sm-7 form-control' %></td>
                                <td class="money"><%= sprintf("$%.2f", product.item.price) %></td>
                                <td class="update"><%= f.submit "Update Quantity", class: 'btn btn-primary' %></td>
                            <% end %>
                        
                        <td><%= link_to "Delete", product, method: :delete, remote: true, class: 'btn btn-danger'%></td>
                    </tr>
            <% end %>
            <tr>
                <td colspan="4">Total Price:&nbsp;&nbsp; <%= @line_items.count > 0 ? sprintf("$%.2f", @line_items.collect {|line_item| line_item.valid? ? (line_item.unit_price*line_item.quantity) : 0 }.sum) : 'No Items Ordered' %></td>
            </tr>
        </tbody>
    </table>
    </br></br>

    <%= form_tag charges_path do %>
    <article>
        <% if flash[:error].present? %>
        <div id="error_explanation">
            <p><%= flash[:error] %></p>
        </div>
        <% end %>
    </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="BlacMarket Sale"
            data-amount="Current Cart"
            data-locale="auto">
    </script>

    <% end %>



