

<h1>BlacMarket</h1>

<%= link_to  "New Item", items_new_path %>

<div class="col-md-6 col-md-offset-3">
    <table class ="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Likes</th>
                <th>Date</th>
             </tr>
        </thead>
        <tbody>   
            <% @items.each do |item| %>
                <tr>
                    <td><%= item.title%></td>
                    <td><%= item.price %></td>
                    <td><%= item.likes%></td>
                    <td><%= item.created_at %></td>
                
                    <td>
                        <%= link_to "Edit", edit_item_path(item)%>
                        <%= link_to "Delete", item_path(item), method: :delete %>

                    </td>    
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
