<!DOCTYPE html>
<html>
  <head>
    <title>Blacmarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <h1><%= link_to "BlacMarket", root_path %></h1> 
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if current_user %><span class="text-warning">Welcome, <%= current_user.name %></span>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <%= link_to 'Log Out', session_path('dummy'), method: :delete, class: "text-danger" %>
            <% else %>
              <%= link_to 'Sign In', login_path, class: "text-warning" %>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <%= link_to 'Sign Up', new_user_path, class: "text-danger" %>
            <% end %>
            </li>
            <% if current_user %>
              <li class="nav-item">
                <%= link_to(carts_path) do %>
                  <div class="fas fa-shopping-cart"></div>
                  <span id="qty-count" class="badge badge-danger badge-pill"><%= current_user.cart.total_quantity %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input type="text" class="form-control mr-sm-2" placeholder="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0">Search</button>
          </form>
        </div>  
      </div>
    </nav>             
    <div class="container">
      <%= yield %>
    </div>
    <script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </body>
</html>
